@using MovieApi.HtmlHelpers;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie Search</h1>
    <form method="get" asp-controller="Home" asp-action="Search" class="input-group mb-3">
        <input required name="title" type="text" class="form-control" placeholder="Movie name">
        <div class="input-group-append">
            <button class="btn btn-secondary">Search</button>
        </div>
    </form>
</div>

