<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="gitlab" value="http://192.168.100.21/api/v4/groups/17/-/packages/nuget/index.json" allowInsecureConnections="true" />
    <add key="https://www.nuget.org/api/v2/" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="root" />
      <add key="ClearTextPassword" value="glpat-eFsTzgzfz5Dc6Fr3QonZ" />
    </gitlab>
  </packageSourceCredentials>

</configuration>
